div.checkout-wrapper {
  text-align: center;

  div.calculator-wrapper {
    vertical-align: top;
    margin: 20px;

    .shipping-calc-panel {
      min-height: 260px;
      max-height: 600px;
    }
  }

  div.form-wrapper {
    vertical-align: top;
    margin: 20px;

    div.form-panel {
      min-height: 260px;
      max-height: 600px;

      .flex-row {
        display: inline-flex;
        width: 100%;

        .flex-item {
          flex-grow: 1;
          justify-content: space-between;
          margin: 5px;
          text-align: left;

          input {
            width: 100%;
            &.submit-button {
              text-align: center;
            }
          }

          select {
            width: 100%;
          }
        }
      }
    }
  }
}