/* CSS declarations go here */

div.toolbar {
  position: fixed;
  top:0;
  left:0;
  right:0;
  height: 58px;
  background-color: rgb(8, 67, 163);
  border-bottom: 2px solid black;
}
.whitehead {
  color: rgb(255, 255, 255);
}

div.sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 148px;
  background-color: rgb(165, 172, 183);
  text-align: left;
  border-right: 2px solid black;
}

div.sidebar .sidebar-item {
  padding: 8px 0 10px 8px;
}

div.sidebar .sidebar-item.selected {
  background-color: rgb(84, 200, 255);
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
}

div.content {
  position: fixed;
  top: 60px;
  left: 150px;
  right:0;
  bottom:0;
  background-color: rgb(192, 201, 214);
  padding:25px;
  border-left: 2px solid black;
  overflow-y: scroll;
}
/*div.product-container {*/
/*display: flex;*/
/*text-align: center;*/
/*}*/

/*div.product-container .panel-wrapper {*/

/*padding:10px;*/
/*}*/

/*div.product-container .panel-wrapper div.panel {*/
/*text-align: center;*/
/*background-color: white;*/
/*}*/