div.product-container {
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .product-panel {
    height: 400px;
    margin: 20px;

    .panel-header {
      clear: both;
      vertical-align: middle;
      text-align: center;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    .panel-content {
      position: relative;
      padding: 4px 12px;
      overflow-x: hidden;
      clear: both;
      line-height: 25px;
    }

    .product-features {
      ul {
        text-align: left;
      }
    }

    .buy-button {
      margin-left: auto;
      margin-right:auto;
      height: 50px;
      width: 75%;
      border-radius: 25px;
      background-color: green;

      &:hover {
        cursor: pointer;
      }
    }
  }
}